body {
    font-size: 22px;
    line-height: 26px;
    font-family: 'Open Sans',sans-serif;
    overflow-x: hidden;
}
// До хидера
.before_wrapper {
    height: 100%;
    background-color: lightslategray;
}
// Основной контент включая хидер
.wrapper {
    height: 100%;
    background-color: #E2E2E2;
    margin-top: 5px;
    margin: 0 auto;
}
.wrapper_content {
    //height: 100%;
    //background-color: #E2E2E2;
    margin-top: 5px;
}
.wrapper_fon {
    //height: 100%;
    height: 1000px;
    //background-color: #E2E2E2;
    background-image: url(../images/behinde_fon.png);
    margin-left: -110px;
    margin-right: -110px;
    z-index: 0;
}
// Стили для изображений проектов на главной
.line-1 {
    height: 400px;
    width: 500px;
    padding: 5px;
    margin-left: 0px;
}
.photo_projects {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
